{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'forms.css' %}">
<div class="container"> 
  <div class='btn-toolbar float-right'>
    <div class='btn-group'>
      <button class='openButton' onclick = "openForm()"> 
        New folder
          </button> 
    </div>
  </div>
        <h1> 

    </h1> 
    </div> 
</div>
    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="/action_page.php" class="formContainer">
          <h2>Create New Folder</h2>
          <label for="title">
            <strong>Title</strong>
          </label>
          <input type="text" id="title_id" placeholder="Title" name="title" required>
          <label for="desc">
            <strong>Description</strong>
          </label>
          <input id="desc" placeholder="description" name="desc">
          <button type="submit" class="btn">Create</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </div>
    <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
    </script>
{% endblock content %}

