{% extends 'base.html' %}
{% block content %}
<form id='doc-data'>
{% csrf_token %}
<div class="d-flex justify-content-center">
    <input type="text" name="title" value="{{ object.title }}" maxlength="100" required="" id="id_title">
</div>
<div class="form-group">
    <textarea class="form-control" id="id_body" rows="3" style=" height: 400px">{{object.body}}</textarea>
 </div>
</form>
{% endblock content %}
{% block javascript %}

<script type="text/javascript">
var typingTimer;                //timer identifier
var doneTypingInterval = 5000;  //time in ms (5 seconds)

//on keyup, start the countdown
$('#id_body').keyup(function(){
    clearTimeout(typingTimer);
    if ($('#id_body').val()) {
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    }
});

//user is "finished typing," do something
function doneTyping () {
	var csrfmiddlewaretoken = '{{ csrf_token }}';
        var body = document.getElementById('id_body').value;
	var title = document.getElementById('id_title').value;
	var pk = '{{ object.pk }}';
	alert(pk);
}
</script>
{% endblock javascript %}
