{% extends 'base.html' %}
{% block content %}
<style>

.documentdiv { 
    border: solid 1px black;
    margin-left: 2%;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    overflow: hidden;
    font-family: Arial;
    
}
.title {
    border-width: 0px;
    font-size: 25px;
    text-align: center;
}
</style>


<form id='doc-data'>
{% csrf_token %}
<div class="d-flex justify-content-center">
    <input class="title" onchange="doneTyping()" type="text" name="title" value="{{ object.title }}" maxlength="100" required="" id="id_title">
</div>
<div class="form-group">
    <textarea class="form-control documentdiv" id="id_body" rows="3">{{object.body}}</textarea>
 </div>
</form>


{% endblock content %}
{% block javascript %}

<script type="text/javascript">
document.onload =resize();

function resize() {
  var textarea = document.getElementById("id_body");
  textarea.style.height = "";
  textarea.style.height = Math.max(textarea.scrollHeight, 600) + "px";
};
var typingTimer;                //timer identifier
var doneTypingInterval = 3000;  //time in ms (3 seconds)




//on keyup, start the countdown
document.getElementById("id_body").addEventListener("keydown", function(){
    resize();
    clearTimeout(typingTimer);
    typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

//user is "finished typing," do something
function doneTyping () {
	var csrfmiddlewaretoken = '{{ csrf_token }}';
        var body = document.getElementById('id_body').value;
	var title = document.getElementById('id_title').value;
	var pk = '{{ object.pk }}';
	        $.ajax(
    {

        type:"POST",
        url: "{% url 'ajax_autosave' %}",
        data : {
            "csrfmiddlewaretoken" : csrfmiddlewaretoken,
            "title": title,
	    "body": body,
	    "pk": pk,
        },

        success: function( data ) 		
        {
            
	    if (data.success == 1){
		alert("saved")
		}
	}	
     })
}
</script>
{% endblock javascript %}
