{% extends 'base.html' %}
{% load static %}
{% block title %}Docs{% endblock title %}


{% block content %}
<div class="container">    
  <div class="row">
{% for Docs in object_list %}
{% if forloop.counter|divisibleby:4 %}
		</div>
		</div><br>
	<div class="container">
  <div class="row">
{% endif %}
   
    <div class="col-sm-4">
 <a href="{{request.path}}/{{Docs.title}}">
        <div class="panel-body"><img src="{% static 'file.png' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <h3 class="text-center my-3">{{Docs.title}}</h3>
</a>
    </div>

{% endfor %}

  </div>
</div><br>
{% endblock content %}
