{% extends 'base.html' %}
{% load static %}
{% block title %}Documents{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static 'forms.css' %}">

<div class="container"> 
  <div class="row">
      <button class='openButton' onclick = "openForm()"> 
        New Document
          </button> 
  </div>   
</div>
<br>
<div class="container">    
  <div class="row">
{% for Docs in object_list %}
{% if forloop.counter|divisibleby:4 %}
		</div>
		</div><br>
	<div class="container">
  <div class="row">
{% endif %}
    <div class="col-sm-4">
 <a href="{{request.path}}{{Docs.title}}">
        <div class="panel-body"><img src="{% static 'file.png' %}" class="img-responsive" style="width:100%" alt="Image"></div>
	<h3 style="justify-content: center;display: flex; flex-direction: row;" class="text-center my-3">{{Docs.title}}            
	<a  class="dropdown-toggle" href="#" id="Folder-dropdown"
              data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
            </a>
    <div class="dropdown-menu dropdown-menu-right"
              aria-labelledby="userMenu">
              <a class="dropdown-item"
              <a href="{% url 'delete_doc' Docs.pk %}">Delete Document</a>
		</a>
            </div>
</a>
</h3>

    </div>

{% endfor %}

  </div>
</div><br>
    <div class="loginPopup">
      <div class="formPopup" id="popupForm">
        <form action="" id="form_create_id" class="formContainer">
          <h2>New Document</h2>
          <label for="title">
            <strong>Title</strong>
          </label>
          <input type="text" id="title_id" placeholder="Title" name="title" required>
          <button type="submit" class="btn">Create</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </div>

{% endblock content %}
{% block javascript %}
    <script>
      function openForm() {
        document.getElementById("popupForm").style.display = "block";
      }
      function closeForm() {
        document.getElementById("popupForm").style.display = "none";
      }
    </script>
<script type="text/javascript">
$('#form_create_id').submit(function(e){
	e.preventDefault();	
	var csrfmiddlewaretoken = '{{ csrf_token }}';
        $.ajax(
    {

        type:"POST",
        url: "{% url 'create_document' %}",
        data : {
            "csrfmiddlewaretoken" : csrfmiddlewaretoken,
            "title": document.getElementById("title_id").value,
	    "folder_title": "{{ view.kwargs.folder_title}}",
        },

        success: function( data ) 		
        {
            
	    if (data.success == 1){
		window.location.href = window.location.href + data.title;
		}
	    else{
		alert(data.failure);
		}
        }
	
     })
	return false;

	});
</script>
{% endblock javascript %}

