{% extends 'base.html' %}
{% load static %}
{% block title %}Articles{% endblock title %}


{% block content %}
<div class="container">    
  <div class="row">
{% for folder in object_list %}
{% if forloop.counter|divisibleby:4 %}
		</div>
		</div><br>
	<div class="container">
  <div class="row">
{% endif %}
   
    <div class="col-sm-4">
 <a href="{% url "doc_list" folder.title %}">
        <div class="panel-body"><img src="{% static 'folder_pic.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <h3 class="text-center my-3">{{folder.title}}</h3>
</a>
    </div>

{% endfor %}

  </div>
</div><br>
{% endblock content %}


